@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&family=Barlow:wght@600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  background: #fffcfa;
}

h1, h2, h3, h4, h5 {
  font-family: "Fraunces", sans-serif;
}

.cta {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
}

p {
  line-height: 1.6;
}

.p-dark {
  color: #23303e;
}

.p-light {
  color: #5a636c;
}

.img-desk {
  display: none;
}

header {
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: 10;
}

header nav {
  width: 90%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu-toggle {
  cursor: pointer;
}

header #menu-toggle {
  position: absolute;
  right: 2rem;
  opacity: 0;
}

header #menu-toggle:checked ~ .menu-toggle {
  opacity: 0.6;
}

header #menu-toggle:checked ~ .menu-main {
  -webkit-animation: menu-slide 0.7s ease-in;
          animation: menu-slide 0.7s ease-in;
  display: block;
}

header .menu-main {
  display: none;
  position: absolute;
  top: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  background: white;
  text-align: center;
  padding: 3rem;
  list-style: none;
}

header .menu-main::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  right: 0rem;
  top: -1.2rem;
  border-top: 1.2rem solid transparent;
  border-right: 1.2rem solid white;
}

header .menu-main li:not(:last-child) {
  margin-bottom: 1.2rem;
}

header .menu-main a {
  text-decoration: none;
  color: #818498;
  font-size: 1rem;
}

header .menu-main .menu-btn {
  background: #fad400;
  border-radius: 1.2rem;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  -webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.06);
          box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.06);
}

header .menu-main .menu-btn a {
  color: #23303e;
}

main {
  height: 80vh;
  background: url(./images/mobile/image-header.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0rem 2rem;
}

main h1 {
  color: white;
  letter-spacing: 4px;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  text-align: center;
}

.section-container .img-mobile {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-content {
  padding: 4rem 2rem;
  max-width: 35rem;
  margin: 0 auto;
}

.section-content .section-title {
  color: #23303e;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section-content .section-cta {
  display: inline-block;
  position: relative;
  margin-top: 2.5rem;
  font-size: 1rem;
}

.section-content .section-cta::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120%;
  height: 0.6rem;
  border-radius: 0.5rem;
  z-index: -1;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-content .accent-one::before {
  background: #fad400;
}

.section-content .accent-two::before {
  background: #fe7867;
}

.section-img-bg {
  width: 100%;
  height: 90vh;
  padding: 2rem 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-img-bg h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.img-bg-content {
  max-width: 22rem;
}

.sec-img-graphic {
  background: url(./images/mobile/image-graphic-design.jpg) no-repeat center top;
  background-size: cover;
  color: #25564b;
}

.sec-img-photo {
  background: url(./images/mobile/image-photography.jpg) no-repeat center top;
  background-size: cover;
  color: #19536b;
}

.section-testimonials {
  padding: 4rem 2rem 0;
}

.testimonials-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #a7abae;
  text-align: center;
  font-size: 1rem;
}

.testimonials {
  padding: 4rem 0 2rem;
  max-width: 25rem;
  margin: 0 auto;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 4rem;
  color: #23303e;
}

.testimonial .avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.testimonial .avatar img {
  width: 100%;
}

.testimonial h5 {
  font-size: 1.125rem;
  margin: 2rem 0 1rem 0;
}

.testimonial span {
  font-size: 0.9rem;
  color: #a7abae;
}

.image-banners {
  width: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.image-banners .image-banner {
  max-width: 100%;
}

.image-banners .image-banner .img-mobile {
  width: 100%;
  display: block;
}

footer {
  background: #91d4c6;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  max-width: 35rem;
  margin: 0 auto;
}

footer .footer-logo {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 2rem;
}

footer .footer-logo img {
  width: 100%;
}

footer .footer-menu {
  width: 100%;
  margin: 3rem 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer .footer-menu a {
  text-decoration: none;
  color: #458c7e;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

footer .footer-social a {
  margin: 0 0.6rem;
}

footer .footer-social a img {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media screen and (min-width: 620px) {
  main {
    background: url(./images/desktop/image-header.jpg) no-repeat center bottom;
    background-size: cover;
  }
  .section-container .img-mobile {
    display: none;
  }
  .section-container .img-desk {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec-img-graphic {
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat center top;
    background-size: cover;
  }
  .sec-img-photo {
    background: url(./images/desktop/image-photography.jpg) no-repeat center top;
    background-size: cover;
  }
}

@media screen and (min-width: 800px) {
  header nav {
    max-width: 50rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .menu-toggle,
  header nav #menu-toggle {
    display: none;
  }
  header nav .menu-main {
    position: relative;
    top: unset;
    left: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    background: transparent;
  }
  header nav .menu-main::after {
    display: none;
  }
  header nav .menu-main li:not(:last-child) {
    margin: 0 3rem 0 0;
  }
  header nav .menu-main a {
    color: #fffcfa;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
  header nav .menu-main .menu-btn {
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    overflow: hidden;
  }
  header nav .menu-main .menu-btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    background: #fffcfa;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  header nav .menu-main .menu-btn:hover::after {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  header nav .menu-main .menu-btn:hover > a {
    color: #fffcfa;
  }
  .section-content .section-cta:hover::before {
    -webkit-animation: scale-x 0.7s ease-in-out;
            animation: scale-x 0.7s ease-in-out;
    opacity: 1;
  }
  .image-banners {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .image-banners .image-banner .img-mobile {
    display: none;
  }
  .image-banners .image-banner .img-desk {
    display: block;
    max-width: 100%;
  }
  footer .footer-menu a:hover {
    color: #fffcfa;
  }
  footer .footer-social a:hover img {
    -webkit-filter: brightness(3) grayscale(1) saturate(0);
            filter: brightness(3) grayscale(1) saturate(0);
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media screen and (min-width: 850px) {
  .section-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .section-container .section-img-bg {
    height: 50vh;
  }
  .section-container .column-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .section-container .column-right {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 /3;
  }
  .section-container .section-content.column-left {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .section-container .section-img img {
    height: 100%;
  }
  .section-container .section-content {
    text-align: left;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    max-width: 50rem;
  }
  .testimonials .testimonial {
    max-width: 22rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1.125rem;
  }
  header nav {
    max-width: 82rem;
    padding: 2rem 0;
  }
  header nav .logo-main {
    display: block;
    width: 11rem;
    height: 2rem;
  }
  header nav .logo-main img {
    width: 100%;
  }
  header nav .menu-main a {
    font-size: 1rem;
  }
  header nav .menu-main .menu-btn {
    padding: 1rem 2rem;
    border-radius: 1.9rem;
  }
  main {
    height: 85vh;
  }
  main h1 {
    font-size: 3.8rem;
    letter-spacing: 8px;
    margin-top: -8rem;
    margin-bottom: 6rem;
  }
  main img {
    -webkit-animation: bouncy 1.2s ease-in-out 3;
            animation: bouncy 1.2s ease-in-out 3;
  }
  .section-container .section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 3rem;
  }
  .section-container .section-content .section-title {
    font-size: 2.6rem;
  }
  .section-container .section-img-bg {
    height: 37rem;
    padding: 3.5rem 0;
  }
  .section-container .section-img-bg h3 {
    margin-bottom: 1.5rem;
  }
  .section-container .section-img-bg p {
    font-size: 1rem;
  }
  .section-container .section-img-bg .img-bg-content {
    max-width: 22rem;
  }
  .section-testimonials {
    padding: 10rem 0 6rem;
  }
  .testimonials-title {
    font-size: 1.3rem;
    letter-spacing: 5px;
  }
  .testimonials {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 80rem;
    padding: 5rem 0 0;
  }
  .testimonial .avatar {
    margin-bottom: 3.5rem;
  }
  .testimonial h5 {
    margin: 5rem 0 1rem 0;
  }
  footer .footer-container {
    max-width: 22rem;
  }
}

@-webkit-keyframes menu-slide {
  0% {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes menu-slide {
  0% {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes scale-x {
  0% {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
  50% {
    -webkit-transform: translateX(-50%) scaleX(1.3);
            transform: translateX(-50%) scaleX(1.3);
  }
  100% {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

@keyframes scale-x {
  0% {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
  50% {
    -webkit-transform: translateX(-50%) scaleX(1.3);
            transform: translateX(-50%) scaleX(1.3);
  }
  100% {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

@-webkit-keyframes bouncy {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  60% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes bouncy {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  60% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}
